{app,                [eaws]}.
{erl_opts,           [debug_info]}.
{eunit_compile_opts, [{src_dirs, ["test"]}]}.
{cover_enabled,      true}.
{clean_files,        ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target,             "rel"}.
{deps_dir,           ["deps"]}.
{deps, [
  {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {tag, "edb954a15c4343d56345776e3f5c69e201714153"}}}
]}.
